PATH_add bin

export STAGE=dev
export LOCAL_INVOKE=y

source_url "https://github.com/tmatilai/direnv-1password/raw/v1.0.0/1password.sh" \
    "sha256-EGpCcHQA5inHmMmkvj+TqIjPeNzzvG4F+BUXfFKb1c0="

from_op <<OP
    AWS_REGION=op://Private/dale-blog-$STAGE/AWS_REGION
    AWS_PROFILE=op://Private/dale-blog-$STAGE/AWS_PROFILE
    OTEL_EXPORTER_OTLP_ENDPOINT=op://Private/dale-blog-$STAGE/OTEL_EXPORTER_OTLP_ENDPOINT
    OTEL_EXPORTER_OTLP_HEADERS=op://Private/dale-blog-$STAGE/OTEL_EXPORTER_OTLP_HEADERS
    OTEL_SERVICE_NAME=op://Private/dale-blog-$STAGE/OTEL_SERVICE_NAME
    PGHOST=op://Private/dale-blog-$STAGE/PGHOST
    PGUSER=op://Private/dale-blog-$STAGE/PGUSER
    PGPASSWORD=op://Private/dale-blog-$STAGE/PGPASSWORD
    BLOG_ADMIN_SECRET=op://Private/dale-blog-$STAGE/BLOG_ADMIN_SECRET
OP